<!DOCTYPE html>
<html>
	<head>
		<title>
			Layouts for EJS | <%= pageTitle + ' ' + suffix %>
		</title>
		<meta name="description" content="<%= message %>">
	</head>
	<body>
		<%- content %>
	</body>
</html>
